.content{
          margin-left:180px;
          
         
      }
    .indexWrap
    {
        
       
        border-style:groove;
         width:500px;
         
         padding:5px;
    
    }
    .button
    {
         margin-top:100px;
    }
    .search
    {
        margin-left:180px;
        margin-top:20px;
    }